@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #fffdf3;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 120px;
  gap: 36px;
  width: 100%;
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid rgba(58, 53, 65, 0.12);
}

.logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 60px;
  width: 237px;
  height: 56px;
}

.logo img {
  position: absolute;
  width: 193.03px;
  height: 30.08px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 36px;
}

.navbar ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.navbar ul li a:hover {
  opacity: 0.5;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 120px;
  gap: 36px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 82px 140px 64px;
  gap: 24px;
  width: 1200px;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/src/img/Background-Content.jpg");
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 920px;
  height: 215px;
}

.hero-content h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: #ffffff;
}

.hero-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.hero-content button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 26px;
  gap: 8px;
  width: 369px;
  height: 42px;
  background: #3ecf4c;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.hero-content button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 1200px;
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 623px;
  height: 67px;
}

.content-header h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  color: #222325;
}

.content-header p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.category-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 612px;
  height: 52px;
  gap: 20px;
}

.category-container a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.category-container a.active {
  color: #f64920;
  position: relative;
  font-weight: 700;
}

.category-container a.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50%;
  height: 6px;
  background-color: #f64920;
  border-radius: 10px;
}

.category-container a:hover {
  color: #f64920;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 1200px;
  height: 426px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;
  width: 384px;
  height: 426px;
  background: #ffffff;
  border: 1px solid rgba(58, 53, 65, 0.12);
  border-radius: 10px;
}

.card img {
  width: 344px;
  height: 193px;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 344px;
  height: 74px;
}

.card-content h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #222325;
}

.card-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.card-user {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 344px;
  height: 42px;
}

.card-user img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 294px;
  height: 42px;
}

.user h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.user p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.user span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.card-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 344px;
  height: 29px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 151px;
  height: 20px;
  white-space: nowrap;
}

.rating h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
  color: rgba(51, 51, 51, 0.68);
}

.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #3ecf4c;
}

.fa {
  color: #3a35411f;
}

.checked {
  color: orange;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 1200px;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/src/img/Background-Content3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 12px 45px -10px rgba(0, 59, 222, 0.2);
  border-radius: 4px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 525px;
  height: 216px;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 525px;
  height: 118px;
}

.newsletter-content h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #c1c2c4;
}

.newsletter-content h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.newsletter-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #f4f5fa;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px 8px 32px;
  gap: 20px;
  width: 525px;
  height: 58px;
  background: #ffffff;
  border-radius: 10px;
}

input[type="email"] {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 75%;
  border: none;
  outline: none;
}

.newsletter-form input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.newsletter-form button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 132px;
  height: 42px;
  color: #ffffff;
  background: #ffbd3a;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.newsletter-form button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px;
  gap: 20px;
  width: 100%;
  background: #ffffff;
  border-top: 1px solid rgba(58, 53, 65, 0.12);
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 74px;
  width: 100%;
  height: 199px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 352px;
}

.footer-logo {
  width: 204px;
  height: 56px;
}

.footer-logo img {
  position: absolute;
  width: 193.03px;
  height: 30.08px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 352px;
  height: 118px;
}

.address h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.address address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.address p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.footer-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;
  width: 485px;
  height: 199px;
}

.footer-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 150px;
  height: 199px;
}

.footer-category h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.footer-category-responsive {
  display: none;
}

.category-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  width: 150px;
  height: 162px;
}

.category-link a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.category-link a:hover {
  opacity: 0.5;
}

.solid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.solid hr {
  width: 100%;
  border: 1px solid rgba(58, 53, 65, 0.12);
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 35px;
}

.copyright {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 185px;
  height: 35px;
}

/* Mobile Style */

@media (max-width: 768px) {
  .navbar {
    padding: 16px 24px;
    width: 100%;
    height: 74px;
  }

  .logo a {
    width: 152px;
    height: 42px;
  }

  .logo img {
    width: 144.77px;
    height: 22.56px;
  }

  .navbar ul {
    display: none;
  }

  .navbar.active ul {
    display: flex;
  }

  .navbar.active .avatar {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .container {
    padding: 28px 20px;
    gap: 24px;
  }

  .hero-container {
    padding: 64px 20px;
    gap: 24px;
    width: 320px;
    height: 400px;
  }

  .hero-content {
    width: 280px;
    height: 262px;
  }

  .hero-content h1 {
    font-size: 24px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .hero-content button {
    width: 280px;
    height: 40px;
    font-size: 12px;
  }

  .section-container {
    gap: 24px;
    width: 320px;
  }

  .content-header {
    width: 320px;
    height: 102px;
  }

  .content-header h2 {
    font-size: 24px;
  }

  .content-header p {
    font-size: 14px;
  }

  .category-container {
    width: 100%;
    height: 50px;
    overflow-x: auto;
    white-space: nowrap;
  }

  .category-container a {
    font-size: 14px;
  }

  .card-container {
    flex-direction: column;
    gap: 20px;
    width: 320px;
    height: auto;
  }

  .card {
    position: relative;
    padding: 16px;
    gap: 8px;
    width: 320px;
    height: 147px;
    display: flex;
    flex-direction: row;
  }

  .card img {
    width: 82px;
    height: 82px;
  }

  .card-content {
    flex: 1;
    gap: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-content h3 {
    font-size: 16px;
  }

  .card-content p {
    display: none;
  }

  .card-user {
    gap: 8px;
    width: 194px;
    height: 37px;
  }

  .card-user img {
    width: 36px;
    height: 36px;
  }

  .user {
    width: 150px;
    height: 37px;
  }

  .user h6 {
    font-size: 14px;
  }

  .user p {
    display: inline;
    font-size: 12px;
  }

  .user span {
    display: none;
  }

  .card-rate {
    position: absolute;
    bottom: 10px;
    left: 15px;
    gap: 16px;
    width: 288px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rating {
    gap: 8px;
    width: 143px;
    height: 18px;
  }

  .rating h6 {
    font-size: 14px;
  }

  .price {
    font-size: 20px;
  }

  .newsletter {
    padding: 0px 20px;
    width: 320px;
    height: 400px;
  }

  .newsletter-container {
    width: 280px;
    height: 304px;
  }

  .newsletter-content {
    gap: 4px;
    width: 280px;
    height: 168px;
  }

  .newsletter-content h2 {
    font-size: 16px;
  }

  .newsletter-content h1 {
    font-size: 24px;
  }

  .newsletter-content p {
    font-size: 14px;
  }

  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
    height: auto;
  }

  input[type="email"] {
    margin-right: 20px;
    width: 100%;
    padding: 10px;
    height: 40px;
    font-size: 16px;
  }

  .newsletter-form button {
    margin-bottom: 10px;
    margin-right: 20px;
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
  }

  .footer {
    padding: 20px;
    gap: 16px;
    width: 100%;
  }

  .footer-container {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 260px;
  }

  .footer-content {
    width: 320px;
  }

  .footer-logo {
    width: 170px;
    height: 36px;
  }

  .footer-logo img {
    width: 161.61px;
    height: 25.18px;
  }

  .address {
    gap: 8px;
    width: 320px;
    height: 96px;
  }

  .address h3 {
    font-size: 14px;
  }

  .address address {
    font-size: 14px;
  }

  .address p {
    font-size: 14px;
  }

  .footer-link {
    flex-direction: column;
    gap: 12px;
    width: 320px;
    height: 96px;
  }

  .footer-category {
    display: none;
  }

  .footer-category-responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 320px;
    height: 96px;
  }

  .footer-category-responsive a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    height: 24px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #222325;
  }

  .category-link {
    display: none;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
    width: 335px;
    height: 91px;
  }

  .copyright {
    align-self: self-start;
  }

  .social-link {
    order: -1;
    align-self: self-start;
  }
}
